XML XSD/ods_meta_changed.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ods_meta">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="schemes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="scheme">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="types">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" minOccurs="1" name="type">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="1" name="attrs">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" minOccurs="1" name="attr">
                                        <xs:complexType>
                                          <xs:attribute name="type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Int"/>
													<xs:enumeration value="Double"/>
													<xs:enumeration value="String"/>
													<xs:enumeration value="Time"/>
													<xs:enumeration value="DateTime"/>
													<xs:enumeration value="Bool"/>
													<xs:enumeration value="Blob"/>
													<xs:enumeration value="Link"/>
													<xs:enumeration value="Array"/>
													<xs:enumeration value="LinkArray"/>
													<xs:enumeration value="FileArray"/>
													<xs:enumeration value="File"/>
												</xs:restriction>
											</xs:simpleType>
										  </xs:attribute>
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="subjects">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="1" name="users">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="user">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="0" name="rights"><!--!!!!! косяк с тэгом min occurs-->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="right">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="1" minOccurs="1" name="type">
                                        <xs:complexType>
                                          <xs:attribute name="scheme" type="xs:string" use="required" />
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element maxOccurs="1" minOccurs="1" name="subjects">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="1" minOccurs="1" name="users">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" minOccurs="1" name="user">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element maxOccurs="1" minOccurs="1" name="groups">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="1" minOccurs="1" name="group">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" fixed="Grant"/>
                                    <xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="allow"/>
												<xs:enumeration value="forbidden"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="0" name="groups"><!--!!!!! косяк с тэгом min occurs-->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="group">
                                  <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="0" name="roles"><!--!!!!! косяк с тэгом min occurs-->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="role">
                                  <xs:complexType>
                                    <xs:attribute name="name" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="admin"/>
												<xs:enumeration value="user"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="1" minOccurs="1" name="groups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="group">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="1" minOccurs="1" name="groups">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="group">
                                  <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="1" name="rights">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="right">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="type">
                                        <xs:complexType>
                                          <xs:attribute name="scheme" type="xs:string" use="required" />
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="subjects">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="users">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="user">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="groups">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="group">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" fixed="Grant"/>
                                    <xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="allow"/>
												<xs:enumeration value="forbidden"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="lockable" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>