XML XSD/ods_meta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ods_meta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="scheme">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="types">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="type">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="attrs">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="attr">
                                        <xs:complexType>
                                          <xs:attribute name="type" type="xs:string" use="required" />
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="subjects">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="users">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="user">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="rights">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="right">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="type">
                                        <xs:complexType>
                                          <xs:attribute name="scheme" type="xs:string" use="required" />
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="subjects">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="users">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="user">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="groups">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="group">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="groups">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="group">
                                  <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="roles">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="role">
                                  <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="groups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="group">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element name="groups">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="group">
                                  <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="rights">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="right">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="type">
                                        <xs:complexType>
                                          <xs:attribute name="scheme" type="xs:string" use="required" />
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="subjects">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="users">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="user">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="groups">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="group">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="lockable" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>